body {
    background-color: #141316;
    
  }

.new-logo {
  width: 40px;
  height: 40px;
}

.header-btn {
  font-size: 15px;
  padding: 10px 15px;
  
}



.section1 {
    display: flex;
    margin: 3rem 8rem 3rem 8rem;
}


.section2 .section3{
    background-color: black;
}

.section2 {
    border: 1px solid #acafb0;
    padding: 5px;
    background-image: url("../img/headers/banner4.jpg");
    width: 40%;
    height: 650px;
}
.inner-section{
  border: 1px solid #acafb0;
  background-image: url("../img/headers/banner4.jpg");
}

.card-container {
  border: 1px solid #acafb0;
  height: 650px
}
.next-section  {
  border: 1px solid #acafb0;
  background-image: url("../img/headers/banner5.jpg");
}

.other-section{
  border: 1px solid #acafb0;
}

.last-section {
  border: 1px solid #acafb0;
  background-image: url("../img/headers/banner7.jpg");
}

.inner-section p {
    padding: 170px 100px;
}

.inner-section span {
    font-weight: bold;
    font-size: 3rem;
    color: #fff;
}
.main-banner {
  background-image: url("../img/headers/banner.jpg");
  margin-bottom: 400px;
}

.section3 {
    border: 1px solid #acafb0;
    padding: 5px;
    width: 60%;
    height: 650px;
    position: relative;
}

.svg-card {
    margin: 20px;
}

.card {
    margin: 10px;
    background-color: #1b1c1e;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    width: 230px;
  }

  .card span {
    color: #889CE7;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
  }

  .card p {
  
    padding: 13px;
  }

  .card-content {
      margin: 50px 10px;
      border-bottom: 2px solid #acafb0;
  }

  .card-container {
      display: flex;
      position: relative;
  }

  .card1 {
    position: relative;
    top: -120px;
    left: 100px;
    z-index: 1;
}  

.card2 {
    position: relative;
    top: -40px;
    left: 110px;
    z-index: 1;
}  

  .card3{
    position: relative;
    top: -110px;
    left: 100px;
    z-index: 1;
  }

  .card4 {
    position: relative;
    top: -40px;
    left: 110px;
    z-index: 1;
  }

  .new-section1 {
    display: flex;
    margin: 3rem 8rem 3rem 8rem;
  }

  .new-section2 {
    border: 1px solid #acafb0;
    padding: 5px;
    background-image: url("../img/headers/banner5.jpg");
    width: 50%;
    height: 900px;
}

.new-section3 {
    border: 1px solid #acafb0;
    padding: 150px;
    width: 50%;
    height: 900px;
}
.left-start{
  border: 1px solid #acafb0;
    padding:40px 30px;
    height: 800px;
}
.right-start{
  border: 1px solid #acafb0;
    padding:100px 130px;
    height: 800px;
}

.col-h2 {
    color: #fff;
    line-height: 1.4em;
    text-align: center;
    font-size: 30px;   
    padding: 290px 50px; 
}

.inner-p {
    line-height: normal;
    font-size: 16px;
}

.my-btn{
  margin: 50px 130px;
  padding: 15px 35px;
}


.text-counter {
  text-align:center;
  font-size:30px;
  margin: 100px;
  color: #fff;
}

.container-square {
  display: flex;
  margin: 0 80px;
  }

.Square {
  border: 1px solid #acafb0;
  padding: 5px;
  width: 20%;
  height: 200px;
}

.new-square {
  margin: 0 8rem;
}

.new-square1 {
  border: 1px solid #acafb0;
  padding: 5px;
  background-image: url("../img/headers/banner7.jpg");
  width: 815px;
  height: 600px;
}

.new-square2 {
  padding: 150px 150px;
  width: 544px;
  height: 600px;
}

.square-h2 {
  color: #fff;
  line-height: 1.4em;
  text-align: center;
  font-size: 30px;   
  padding: 250px 50px;
  font-weight: bold 
}

.my-btn2 {
  margin: 30px 60px;
  padding: 15px 35px;
}

.footer-section {
padding: 95px;
height: 500px;
}

.footer-section p {
  font-size: 20px;
}

.footer-section2 {
padding: 95px 30px;
height: 500px;
}

.center-footer{
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
}

.center-footer a {
  text-decoration: none;
}

.my-btn3 {
  font-size: 15px;
  padding: 15px 25px;
}

.end-footer {
padding: 95px 15px;
height: 500px;
}

.p-banner {
  color: #fff;
  font-weight: bold;
  font-size: 50px;
  padding: 0;
}

.section-t {
  display: flex;
  margin: 0 80px;
}

.section-t2 {
  border: 1px solid #acafb0;
  padding: 55px;
  
 
}

.section-t3 {
  border: 1px solid #acafb0;
  padding: 55px ;
 height: 200px;

}

.section-t4 {
  border: 1px solid #acafb0;
  padding: 5px;
  width: 90px;
  height: 90px;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  background-color: #889ce7;
  
}

.section-t4 svg {
  width: 50px; height:50px;
  margin-top:10px;
}

.section-t3 span {
  font-size: 18px;
  color: #fff;
}

.section-t3 p {
  line-height:1.8em;
  font-size:16px;
}

.slide-text span{
  font-weight: bold;
   font-size: 40px;
}

.end-t2 {
  border: 1px solid #acafb0;
  padding: 55px;
  
  height: 450px;
 background-image: url("../img/headers/banner6.jpg");

}

.end-t3 {
  border: 1px solid #acafb0;
  padding: 180px ;
 
  height: 450px;

}

.end-h2 {
  color: #fff;
  line-height: 1.4em;
  text-align: center;
  font-size: 30px;   
  padding: 140px 50px;
  font-weight: bold;
}

.section-start {
  display: flex;
  margin: 0 80px;
}

.start-t2 {
  border: 1px solid #acafb0;
  padding: 55px;
  width: 40%;
  height: 900px;
}

.start-t3 {
  border: 1px solid #acafb0;
  padding: 180px ;
  width: 60%;
  height: 900px;
  position: relative;
}

.start-h2 {
  color: #acafb0;
  text-align: left;
  font-size: 16px;   
  padding: 160px 70px;
}

@media (max-width : 1348px){
  .new-section3 {
    padding: 130px;
  }
  .my-btn{
    margin: 25px 50px;
    padding: 17px 30px;
  }
  .inner-p {
    font-size: 16px;
  }
  .slider img {
    width: 100%;
  }
}

@media (max-width : 1250px){
  .new-section3 {
    padding: 100px;
  }
  .my-btn{
    margin: 20px 40px;
    padding: 17px 30px;
  }
  .inner-p {
    font-size: 16px;
  }
  .slider img {
    width: 100%;
  }
}

@media (max-width : 1200px) {
  .inner-section p {
    padding: 100px 50px;
  }
  .slider img {
    width: 100%;
  }
  .slide-text span{
    font-size: 30px;
  }
  .slide-text {
    width: 100%;
    padding-left: 700px;
  }
  .p-banner {
    font-size: 30px;
    padding-left: 100px;
  }
}

@media (max-width : 1080px) {
 .section3 {
    padding: 0;
  }
  .card {
    margin: 0;
  }
  .slider img {
    width: 100%;
  }
}


@media (max-width : 1054px) {
  .new-section3 {
    padding: 50px;
  }
  .my-btn{
    margin: 40px 50px;
    padding: 15px 25px;
  }
  .inner-p {
    font-size: 16px;
  }
  .slider img {
    width: 100%;
  }
 }


@media (max-width : 990px) {
  .inner-section span {
    font-weight: bold;
    font-size: 2rem;
    color: #fff;
  }
  .inner-section p {
    padding: 90px 40px;
  }
  .card-container {
    display: block;
  }
  .card {
    padding: 5px;
    width: 250px;
    height: 250px;
    margin: 5px;
  }
  .card1 , .card2 , .card3 ,.card4 {
    position: static;
  }  
  .section3 , .section2 {
    padding: 5px;
    height: 1060px;
  }
  .section3{
    width:300px ;
  }
  .card1 svg ,.card2 svg, .card3 svg ,.card4 svg{
    margin: 5px;
    width: 30px;
    height: 30px;
  }
  .card-content {
    margin: 10px;
  }
  .card span {
    color: #889CE7;
    padding: 5px;
    font-size: 17px;
    font-weight: bold;
  }
  .card p {
    padding: 5px;
    font-size: 13px;
  }
  .new-section3 {
    padding: 50px;
    width: 300px;
  }
  .my-btn{
    margin: 30px 50px;
    padding: 15px 25px;
  }
  .inner-p {
    font-size: 15px;
  }
  .square-h2 {
    color: #fff;
    line-height: 1.4em;
    text-align: center;
    font-size: 20px;   
    padding: 250px 15px;
    font-weight: bold 
  }
  .new-square1 {
    width: 100%;
  }
  .new-square2 {
    padding: 150px 20px;
    width: 150px;
    height: 600px;
  }
  .my-btn2 {
    margin: 30px 10px;
    padding: 15px 35px;
  }
  .footer-section3{
    display: none;
  }
  .slider img {
    width: 100%;
  }
  .right-start{
    
      padding:20px 130px;
 
  }
  .card-container {
    height: 1050px;
}
}

@media (max-width : 768px) {
 
  .inner-section p {
    padding: 80px 30px;
  }
  .new-section3 {
    padding: 50px;
  }
  .my-btn{
    margin: 30px 50px;
    padding: 12px 20px;
  }
  .inner-p {
    font-size: 13px;
  }
  
  .col-h2 {
   font-size: 15px;   
    padding: 400px 5px; 
  }
  .slider img {
    width: 100%;
  }
  .slide-text span{
    font-size: 20px;
  }
  .slide-text {
    width: 100%;
    padding-left: 500px;
  }
  .p-banner {
    font-size: 25px;
    padding-left: 15px;
  }
}



@media (max-width : 575px) {
  .inner-section span {
    font-weight: normal;
    font-size: 1rem;
  }
  .section2 {
    width: 200px;
  }
  .new-section2{
    width: 200px;
  }
  .inner-section p {
    padding: 50px 10px;
  }
  .section1 {
    margin: 3rem 5rem 3rem 5rem;
  }
  .card1 svg ,.card2 svg, .card3 svg ,.card4 svg{
    margin: 5px;
    width: 20px;
    height: 20px;
  }
  .card-content {
    margin: 5px;
  }
  .card span {
    color: #889CE7;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
  }

  .card p {
    padding: 5px;
    font-size: 10px;
  }
  .card {
    padding: 5px;
    width: 200px;
    height: 200px;
    margin: 5px;
  }
  .section3 {
    width: 250px;
  }
  .new-section3 {
    padding: 30px;
   }
  .my-btn{
    margin: 20px 30px;
    padding: 12px 20px;
  }
  .inner-p {
    font-size: 10px;
  }
  .new-section1 {
    margin: 3rem 5rem 3rem 5rem;
  }
  .new-square1{
    width: 100%;
  }
  .square-h2 {
    font-size: 15px;   
    padding: 250px 5px;
    font-weight: bold 
  }
  .slider img {
    width: 100%;
  }
  .p-banner {
    font-size: 20px;
    padding-left: 20px;
  }
  .card-container {
      height: 900px;
  }
}

@media (max-width : 1520px) {
  .new-square2 {
    padding: 150px 100px;
    width: 400px;
    height: 600px;
  }
  .new-square1 {
    padding: 5px;
    width: 600px;
    height: 600px;
  }
  .slider img {
    width: 100%;
  }
}
@media (max-width : 1160px) {
  .new-square2 {
    padding: 150px 50px;
    width: 200px;
    height: 600px;
  }
  .my-btn2 {
    margin: 30px 30px;
    padding: 15px 35px;
  }

  .new-square1 {
    width: 100%;
  }
  
  .square-h2 {
    color: #fff;
    line-height: 1.4em;
    text-align: center;
    font-size: 23px;   
    padding: 250px 25px;
    font-weight: bold 
  }
  .slider img {
    width: 100%;
  }
}
@media (max-width : 696px){
 
  .section-t3 p {
    line-height:1.8em;
    font-size:13px;
  }
  .section-t3 span {
    font-size: 15px;
    color: #fff;
  }
  .end-t3 {
    padding: 100px;
  }
}

@media (max-width : 466px){
 
  .section-t3 p {
    line-height:1.8em;
    font-size:12px;
  }
  .section-t3 span {
    font-size: 14px;
    color: #fff;
  }
  .section-t3 {
   
    padding: 10px ;

  
  }
}

@media (max-width : 810px){
 
  .tp-caption {
    margin-left: 100px;
  }
}

